<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InvstApp">

        <!-- Activity principal (LAUNCHER): listagem dos ativos gravados no Room -->
        <activity
            android:name=".ListaInvestimentosActivity"
            android:exported="true"
            android:label="@string/title_listagem">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activities secundárias: pai = listagem (botão Up) -->
        <activity
            android:name=".CadastroActivity"
            android:exported="false"
            android:label="@string/title_cadastro"
            android:parentActivityName=".ListaInvestimentosActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ConfiguracoesActivity"
            android:exported="false"
            android:label="@string/title_configuracoes"
            android:parentActivityName=".ListaInvestimentosActivity" />

        <activity
            android:name=".AutoriaActivity"
            android:exported="false"
            android:label="@string/menu_sobre"
            android:parentActivityName=".ListaInvestimentosActivity" />

    </application>
</manifest>
